<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.windson">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentActivity" />
        <activity android:name=".TeacherActivity" />
        <activity android:name=".StudentSignUpActivity" />
        <activity android:name=".TeacherSignUpActivity" />
        <activity android:name=".StudentMyCoursesActivity" />
        <activity android:name=".StudentMobileAppDevActivity" />
        <activity android:name=".TeacherMyCoursesActivity" />
        <activity android:name=".TeacherMobileAppDevActivity" />
        <activity android:name=".StudentProfile" />
        <activity android:name=".ImagesActivityModuleExamAnswers"/>
        <activity android:name=".ImagesActivityQuizAnswers"/>
        <activity android:name=".ImagesActivityQuizzes"/>
        <activity android:name=".ImagesActivityModules"/>
        <activity android:name=".VideoActivityLessons"/>
    </application>

</manifest>